body {
    background: white;
    width: 100%;
    overflow-x: hidden;
}

.m-background {
    z-index: 9;
    background: rgba(70, 70, 70, 0.71);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-green {
    background: rgb(78, 255, 78) !important;
    color: white !important;
}

.color-green {
    color: rgb(78, 255, 78);
}

.bg-red {
    background: rgb(255, 103, 103) !important;
    color: white;
}

.m-loading-new-block {
    margin: auto;
}

.color-red {
    color: rgb(255, 103, 103) !important;
    ;
}

.bg-blue {
    background: #5f9dff !important;
    color: white !important;
}

.color-blue {
    color: #5f9dff !important;
}

.color-white {
    color: white !important
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

#root {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #dcdcdc54;
    min-height: 100%;
}

button {
    cursor: pointer;
}

#button {
    cursor: pointer;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button:active {
    outline: none;
    border: none;
}

button:hover,
a:hover {
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

button:focus {
    outline: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif !important;
}